  <ion-header>
    <ion-navbar color='dark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


      <ion-title>Calificacion</ion-title>

    

    </ion-navbar>
  </ion-header> 


<ion-content padding>



<ion-item>
  Historial de las ultimas calificaciones 

</ion-item>


<ion-item *ngFor="let item of historial_estrellas" >
     
  
  <ion-col  class='animated zoomIn'*ngIf='item==1'>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
  </ion-col>



  <ion-col  class='animated zoomIn'*ngIf='item==2'>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
  </ion-col>


  <ion-col class='animated zoomIn' *ngIf='item==3'>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
  </ion-col>


  <ion-col class='animated zoomIn' *ngIf='item==4'>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star-outline"></ion-icon>
  </ion-col>




   <ion-col  class='animated zoomIn' *ngIf='item==5'>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
    <ion-icon   class='estrella' name="star"></ion-icon>
  </ion-col>


  <span class='animated flipInX' style='background: #4e2f6f;
    padding: 6px;
    color: #fff;
    border-radius: 10em;
    float: right;
    width: 30px;
    height: 30px;
    padding-left: 10px;'>{{item}}</span>




    
    </ion-item>


</ion-content>


