 <ion-menu [content]="content"  >
 
  


  <ion-toolbar color='dark'>
    <ion-title>Menu x {{estado}} </ion-title>




    

  </ion-toolbar>
 
  <ion-content  color='dark' >

  <ion-list>

      <div  style='margin-top: 58px;'></div>




      <button *ngIf='estado' ion-item (click)="panico()" style='background: #161616;
    color: #fff;'>
   
      Emergencia

      <ion-icon name="disc" style ='float: right;

    padding-top: -10px;
    color: #f16b6b;
}'></ion-icon>
      </button>
     



      <button  *ngIf='estado' ion-item (click)="openPage(perfilPage)">
        Perfil
      </button>

      <button   *ngIf='estado' ion-item (click)="openPage(historialsociaPage)">
        Servicios
      </button>

            <button  *ngIf='!estado' ion-item (click)="openPage(loginprincipalPage)">
        Ingresar
      </button>

      <button  *ngIf='!estado' ion-item (click)="abrimodal()">
        Inscripcion
      </button>

      <button  *ngIf='estado' ion-item >
        <ion-label>En Linea</ion-label>

        <ion-toggle color='dark' [(ngModel)] = "linea" (click)='cambia(linea)'></ion-toggle>
      </button>

      <button *ngIf='estado' ion-item (click)="openPage(calificacionPage)">
   
      Calificación
      </button>



      <button *ngIf='estado' ion-item (click)="openPage(balancePage)" >
   
      Balance Actualizado
      </button>

      <button *ngIf='estado' ion-item >
   
      Notificaciones
      </button>

         <a ion-item style='
    text-decoration: none;' href="https://api.whatsapp.com/send?phone=51910759370&text=Hola"> Contáctenos <ion-icon name="logo-whatsapp" style='color: #25d366;float:right;'></ion-icon></a>

    <a ion-item style='text-decoration: none;' href="tel:+910759370"> Llamanos <ion-icon name="call" style='color: #000;float:right;'></ion-icon></a>


         


       <button *ngIf='estado'  ion-item (click)="salir()">
        Salir
      </button>
      <!-- <button  ion-item (click)="openPage(loginprincipalPage)">
        Ingresar
      </button> -->
      <!-- <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button> -->
  </ion-list>



  </ion-content>
 
</ion-menu>

<ion-nav  id="nav" [root]="xxxPage" #content swipe-back-enabled="false"></ion-nav>
