 <ion-menu [content]="content"  >
 
  


  <ion-toolbar color='dark'>
    <ion-title>Menu 55{{estado}}</ion-title>




    

  </ion-toolbar>
 
  <ion-content  color='dark' >

  <ion-list>

      <div  style='margin-top: 58px;'></div>
      

      <button  ion-item (click)="openPage(loginprincipalPage)">
        Ingresar
      </button>

      <button  ion-item (click)="openPage(loginprincipalPage)">
        Compartir
      </button>

      <button  *ngIf='estado' ion-item (click)="openPage(perfilPage)">
        Perfil
      </button>
      <button   *ngIf='estado' ion-item (click)="openPage(historialsociaPage)">
        Servicios
      </button>



      <button   ion-item >
        <ion-label>En Linea</ion-label>

        <ion-toggle color='dark'></ion-toggle>
      </button>

      <button ion-item (click)="openPage(calificacionPage)">
   
      Calificación
      </button>

      <button ion-item (click)="openPage(balancePage)" >
   
      Balance Actualizado
      </button>

      <button ion-item >
   
      Notificaciones
      </button>




       <button   ion-item (click)="salir()">
        Salir
      </button>


    
    

      <!-- <button  ion-item (click)="openPage(loginprincipalPage)">
        Ingresar
      </button> -->
      <!-- <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button> -->
  </ion-list>



  </ion-content>
 
</ion-menu>

<ion-nav  id="nav" [root]="xxxPage" #content swipe-back-enabled="false"></ion-nav>
