<!--
  Generated template for the RegistrosociaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Inscripcion</ion-title>



    <ion-buttons start="" (click)='closeModal()' class="bar-buttons bar-buttons-ios">
      <button ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios"><span class="button-inner" >Cerrar</span><div class="button-effect"></div></button>
    </ion-buttons>

    
  </ion-navbar>




</ion-header>


<ion-content padding>

 <form (ngSubmit)="enviasocia(user)" [formGroup]="todo">

 
       <ion-label padding>Nombre y Apellidos</ion-label>
      <ion-item>
             
            <ion-input  formControlName="nombre"  name='nombre' id="loginField" type="text" required [(ngModel)] = "user.nombre"></ion-input>
      </ion-item>
<!-- 

       <ion-item>
            <ion-label>Apellido</ion-label>
            <ion-input formControlName="apellido"  name='apellido' id="loginField" type="text" required [(ngModel)] = "user.apellido"></ion-input>
      </ion-item>
 -->

       <ion-label padding>Email</ion-label>
      <ion-item>

            <ion-input  formControlName="email"  name='email' id="loginField" type="email"  [(ngModel)] = "user.email"></ion-input>
      </ion-item>



       <ion-label padding>Telefono</ion-label>
      <ion-item>

           
            <ion-input  formControlName="telefono"  name='telefono' id="loginField" type="number"  [(ngModel)] = "user.telefono"></ion-input>
      </ion-item>


<!--        <ion-item>
            <ion-label>Direccion</ion-label>
            <ion-input  formControlName="direccion"  name='direccion' id="loginField" type="text" required [(ngModel)] = "user.direccion"></ion-input>
      </ion-item> -->


<!--        <ion-item>
            <ion-label>Referencia</ion-label>
            <ion-input  formControlName="referencia" name='referencia'  id="loginField" type="text" required [(ngModel)] = "user.referencia"></ion-input>
      </ion-item> -->

  <!--     <ion-item>
            <ion-label>No Cuenta</ion-label>
            <ion-input   formControlName="cuenta"  name='cuenta'   id="loginField" type="text" required [(ngModel)] = "user.cuenta"></ion-input>
      </ion-item> -->

<!-- 
      <ion-item>
            <ion-input placeholder="Distrito"  formControlName="distrito"   id="loginField" type="text" required name='distrito'  [(ngModel)] = "user.distrito"></ion-input>
      </ion-item> -->

       <ion-label padding>Distrito</ion-label>
      <ion-item>
     
      <ion-select  formControlName="distrito"   id="loginField" type="text" required name='distrito'  [(ngModel)] = "user.distrito">
      <ion-option *ngFor="let d of distrito" [value]="d">{{d.nombre}}</ion-option>

      </ion-select>
      </ion-item>


  <!--     <ion-item>

            <ion-label>Horario</ion-label>
            <ion-input   formControlName="horario"   id="loginField" type="text" requiredname='horario'   [(ngModel)] = "user.horario"></ion-input>
      </ion-item> -->

     <!--  <ion-item>
            <ion-label>Experiencia</ion-label>
            <ion-input  formControlName="experiencia" name='experiencia'  id="loginField" type="text" required [(ngModel)] = "user.experiencia"></ion-input>
      </ion-item> -->

 
<!-- 
      <ion-item>
            <ion-input placeholder="Compartir de imagenes de trabajos realizados"  formControlName="direccion"   id="loginField" type="text" required [(ngModel)] = "user.compartir"></ion-input>
      </ion-item> -->


      
      <ion-label padding>Deja tu mensaje</ion-label>
      <ion-item>
      
      <ion-textarea  name='comentario' formControlName="comentario"   id="loginField" type="text" required [(ngModel)] = "user.comentario"></ion-textarea>
      </ion-item>


      <ion-label padding>Espacialidad</ion-label>
      <ion-item>

           
            <ion-input  formControlName="especialidad"  name='especialidad' id="loginField" type="number"  [(ngModel)] = "user.especialidad"></ion-input>
      </ion-item>


     



    





     

        <ion-label padding>Seleccione Categorias</ion-label>

       <ion-item ion-item *ngFor="let item of categoria">



       {{item.nombre}} 


     <ion-icon style='float:right;font-size: 27px;' *ngIf="!item.check" name="ios-checkmark-circle"  (click)='quitacarrito(item);item.check=true'></ion-icon>
     <ion-icon  style='float:right;font-size: 27px;' *ngIf="item.check" name="ios-checkmark-circle-outline"  (click)='agregacarrito(item);item.check=false'></ion-icon> 

      <p [hidden]="!item.muestradescripcion"  class='detallesubcategoria'> {{item.descripcion}}</p>



  </ion-item>
 
     
    

<!--       <ion-item>
            <ion-input placeholder="Telefono" formControlName="password" name="password" id="loginField" type="text" required [(ngModel)] = "user.password"></ion-input>
      </ion-item>

      <ion-item>
            <ion-input placeholder="Telefono" formControlName="password" name="password" id="loginField" type="text" required [(ngModel)] = "user.password"></ion-input>
      </ion-item>

 -->




 <button round ion-button type="button" (click)='abrimodal()' color='dark' block >Abrir</button>

      <button round ion-button type="submit" color='dark' block [disabled]="!todo.valid">Enviar</button>
    </form>



</ion-content>
