
  <ion-header>
    <ion-navbar color='dark'>



      <ion-title> Detalle Servicio</ion-title>

     

    </ion-navbar>
  </ion-header> 

<ion-content>


  <ion-item-group>


  
     <ion-item *ngFor="let item of ped">

      <ion-row>
    <ion-col>

     <button full  ion-button color="dark" round (click)='yallege()' >Ya Llege</button>

   </ion-col>

   <ion-col>

         <button full  ion-button color="dark" round (click)='finalizarservicio()'>Finalizar</button>

   </ion-col>
 </ion-row>

    <div style='height: 20px'></div>
  {{item.subcategoria__nombre}}
    <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> S/. {{item.subcategoria__precio}}</span>
   
  </ion-item>


  <ion-item>Codigo: <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> {{codigo}}</span></ion-item>

  <ion-item>Nombre: <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> {{nombre_cliente}}</span></ion-item>


  <ion-item>Estado: <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> {{estado_nombre}}</span></ion-item>

  

  <ion-item>Dia: <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> {{fecha}}</span></ion-item>


  <ion-item>Hora: <span style='float: right;
    margin-right: -30px;
    position: absolute;
    right: 48px;'> {{fecha_inicio}}</span></ion-item>


    <div >

  <ion-item>
  <h6>{{reference}}</h6>
</ion-item>
</div>
  </ion-item-group>


  <ion-item style='padding: 100px;
    padding-top: 0px;padding-bottom: 0px;'>


    <!-- <ion-col *ngIf='photo_cliente' col-3 ><img style='border-radius:50%;' src='{{host}}/{{photo_cliente}}'></ion-col>
 -->

    <!-- <ion-col *ngIf='cliente__photo_facebook' col-3 style='background: #fff !important;'><img style='border-radius:50%;' src='{{cliente__photo_facebook}}'></ion-col>
 -->
   </ion-item>



  
  

 
  <ion-row padding *ngIf='estado_nombre=="Confirmado"'>

  <button  block ion-button color="dark" round (click)='aceptar()'>Aceptar</button>
  </ion-row>

   <ion-row padding *ngIf='estado_nombre=="Aceptado"'>

  <button  block ion-button color="dark" round (click)='cancelar()'>Cancelar</button>
  </ion-row>

  <div id="map"></div>

<!-- </ion-card-content>


</ion-card>
 -->




  
  

</ion-content>