page-felicidades {

font-family: 'Varela Round', serif;



h1{
	color:#fff;
}
	 .fondologin {

	 padding: 5px !important;
	 padding-top: 12px !important;
      background:color($colors, dark, base) !important;

}

}
